[submodule "essential-js-design-patterns"]
	path = essential-js-design-patterns
	url = https://github.com/addyosmani/essential-js-design-patterns
[submodule "lemonad"]
	path = lemonad
	url = git://github.com/fogus/lemonad.git
[submodule "directme-nyc"]
	path = directme-nyc
	url = git://github.com/NYPL/directme-nyc.git
[submodule "underscore-contrib"]
	path = underscore-contrib
	url = git://github.com/documentcloud/underscore-contrib.git
[submodule "fizzbuzz"]
	path = fizzbuzz
	url = git://github.com/bowmanb/fizzbuzz.git
